*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom,#eafbff 0%,#eafbff 50%,#5290f9 50%,#5290f9 100%);
    margin: 0;
    font-family: 'Muli', sans-serif;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: width .6s linear;
}
nav.active{
    width: 350px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 0;
    margin: 0;
    padding: 0;
    transition: width .6s linear;
}
nav.active ul{
    width: 100%;
}
nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: tansform .6s linear,opacity .6s linear;
}
nav.active ul li{
    transform: rotateY(360deg);
    opacity: 1;
}
nav ul a{
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}
nav .icon{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #5290f9;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.icon .line{
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    transition: transform .6s linear;
}
.icon .line2{
    top: auto;
    bottom: 10px;
}
nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}
nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);;
}



